*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Css Reset Kodları */
body {
  background-color: #161513;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

header {
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo img {
  width: 80px;
  height: auto;
}
/* Logo boyutu ayarlandı */

.menu {
  display: flex;
  gap: 90px;
}

.menu a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  padding: 10px 20px;
  z-index: 1;
  transition: color 0.4s ease;
}
.animation::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-color: white;
    z-index: -1;
    transform: scaleX(0);
    transition: 0.4s ease;
}
.animation::after {
  content: '';
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  
  border-left: 2px solid white;  /* Sol çizgi */
  border-right: 2px solid white; /* Sağ çizgi */
  
  transform: scaleY(0); /* Dikeyde görünmez yap (Yükseklik = 0) */
  transition: transform 0.4s ease;
}
.animation:hover{
    color: black;
}
.animation:hover::before{
    transform: scaleX(1);
}
.animation:hover::after{
    transform: scaleY(1);
}